* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    margin-top: 50px;
    width: 15%;
    height: 512px;
}

.canvas-main {
    width: 1024px;
    height: 512px;
    margin-top: 50px;
    margin-right: 50px;
    padding-left: 50px;
}

#main-field {
    outline: 1px solid #0f0f0f;
}

.button {
    display: block;
    margin: 20px 0 20px 20px;
    width: 75px;
    height: 35px;
    background-color: #939699;
}