*{
  margin: 0;
  padding: 0;
}

html,body {
  height:100%;
  background-color: #ECEDEF;
}

.header {
  width: 976px;;
  height: 42px;
  margin: auto;
  background-color: #4a76a8;
}

.header_back {
  width: 100%;
  height: 42px;
  background-color: #4a76a8;
}

.logo {
  margin-top: 11px;
  background-color: inherit;
  margin-right: 127px;
  vertical-align: top;
}

.search_input {
  display: inline-block;
  background-color: inherit;
  margin-top: 7px;
  vertical-align: top;
}

.search_input input {
  border-radius: 14px;
  border: 0;
  width: 202px;
  height: 28px;
  background: #224b7a url('img/ic_head_loupe.svg') no-repeat;
  background-position: 8px 8px;
  padding-left: 28px;
  outline: none;
  transition: background-color 0.05s, color 0.05s
}

.search_input input:focus {
  background: #fff url('img/ic_head_loupe.svg') no-repeat;
  background-position: 8px 8px;
}

::-webkit-input-placeholder {
    color: #8FACC5;
  }

:focus::-webkit-input-placeholder {
  color: transparent
}

.header-icons {
  display: inline-block;
  margin-left: 13px;
  height: 42px;
}

.ring-icon-href {
  display: inline-block;
  width: 42px;
  height: 42px;
  transition: background-color 0.05s;
}

.ring-icon {
  width: 20px;
  height: 20px;
  margin: 11px 11px;
  background: url('img/ic_head_notify.svg') no-repeat;
}

.ring-icon-href:hover {
  background-color: #3d6898;
}

.nota-icon-href {
  display: inline-block;
  width: 42px;
  height: 42px;
  transition: background-color 0.05s;
}

.nota-icon {
  width: 20px;
  height: 20px;
  margin: 11px 11px;
  background: url('img/ic_head_audio.svg') no-repeat;
}

.nota-icon-href:hover {
  background-color: #3d6898;
}




.icon {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url('img/menu_icon.png') no-repeat;
  position: relative;
  top: 5px;
  opacity: 0.75;
}

.text {
  display: inline-block;
  font-size: 13px;
  margin-left: 7px;
  letter-spacing: 0.3px;
}

.left-pref {
  display: inline-block;
  width: 5px;
}

.left-menu {
  display: inline-block;
  width: 149px;
  height: 460px;
  margin-left: 782px;
  margin-top: 16px;
}

.news-icon {
  background-position: 0px -923px;
}

.messages-icon {
  background-position: 0px -27px;
}

.friends-icon {
  background-position: 0px -83px;
}

.groups-icon {
  background-position: 0px -111px;
}

.photo-icon {
  background-position: 0px -139px;
}

.music-icon {
  background-position: 0px -167px;
}

.video-icon {
  background-position: 0px -195px;
}

.games-icon {
  background-position: 0px -223px;
}

.goods-icon {
  background-position: 0px -949px;
  margin-top: -2px;
}

.docs-icon {
  background-position: 0px -280px;
}

.left-menu-border {
  border-top: 1px solid #dfe2e8;
  margin-top: 8px;
  margin-left: 37px;
  margin-bottom: 11px;
}

.left-menu-takoe {
  color: #939699;
  letter-spacing: 0.3px;
  display: inline-block;
  font-size: 13px;
  margin-left: 9px;
  margin-top: 21px;

}

.left-menu-takoe-href {
  color: #939699;
  letter-spacing: 0.3px;
  font-size: 13px;
  line-height: 19px;
}

.blog {

}

.razrab {
  margin-left: 10px;
}

.reklama {

}

.esche {
  margin-left: 11px;
}


li {
  list-style-type: none;
  color: #285473;
  height: 28px;
  transition: background-color 0.05s;
}

li:hover {
  background-color: #edeef0;
  border-radius: 2px;
}



.main-menu {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 550px;
  height: 709px;
  top: -369px;
  border: 1px;
  outline: 1px solid #E2E3E7;
  margin-left: 22px;
}

.main-menu-main {
  height: 54px;
  outline: 1px solid #E2E3E7;
  background-color: #FAFBFC;
}

.main-menu-main-text {
  position: relative;
  margin-left: 19px;
  top: 18px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}







a {
  text-decoration: none;
}
